# APPLICATION
SPRING_PROFILES_ACTIVE=dev
APP_PORT=8080

# DATABASE INFORMATION
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your-db-name
DB_USERNAME=your-username
DB_PASSWORD=your-password

# MINIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=place-your-key-here
MINIO_SECRET_KEY=place-your-key-here
MINIO_BUCKET=kbase

# JWT TOKEN
JWT_SECRET=place-your-token-here
JWT_EXPIRATION=86400000